<!DOCTYPE html>

<html>
    <head>
        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Ma todolist</h1>

        <ul id='todo-list'>
        <% todolist.forEach(function(todo, index) { %>
        <li><a href="/todo/supprimer/<%= index %>" id="<%= index %>">✘</a> <%= index %> <%= todo %></li>
        <% }); %>
        </ul>

        <form id="ajout" action="/todo/ajouter/" method="post">
            <p>
                <label for="newtodo">Que dois-je faire ?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/client.js"></script>
        <script>
            var socket = io.connect('http://localhost:8080');

            $("form#ajout").submit(function(event){
              socket.emit("new_todo", $("#newtodo").val());
              $("#newtodo").val('');
              event.preventDefault();
            });

            $("ul#todo-list").delegate('li a', 'click', function(event){
              var link_list = $("ul#todo-list li a");
              socket.emit("delete_todo", link_list.index($(this)));
              event.preventDefault();
            });

            socket.on("action_new_todo", function(newtodo){
              var $ul = $("ul#todo-list");
              Client.insert_new_todo($ul, newtodo);
            });

            socket.on("action_delete_todo", function(todo_id){
              var $ul = $("ul#todo-list");
              Client.delete_todo($ul, todo_id);
            });

        </script>

    </body>
</html>
